<app-spinner [loading]="isLoading">
  <section class="login-section">
    <div class="login-detail">
      <h2>Sign in</h2>
      <form class="form-login" [formGroup]="loginForm" (submit)="submitForm()">
        <div class="row">
          <div class="col-12 flex-column">
            <mat-label class="lbl-input"> Username * </mat-label>
            <mat-form-field>
              <input
                matInput
                placeholder="Input your username"
                formControlName="username"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 flex-column">
            <mat-label class="lbl-input"> Password * </mat-label>
            <mat-form-field>
              <input
                matInput
                placeholder="Input your password"
                type="password"
                formControlName="password"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <button mat-raised-button class="w-full btn-sign-in" color="primary">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </section>
</app-spinner>
