<div class="container">
  <div class="header-page">
    <div class="header">
      <span class="title">MM Arbitrage</span>

      <div class="filter">
        <button mat-stroked-button color="warm" (click)="onScanMarket(true)">
          Scan
        </button>
        <button mat-stroked-button color="warm" (click)="onScanMarket(false)">
          Stop
        </button>
        <div class="market-container" [formGroup]="priceGroup">
          <!-- NON MAIN MARKET -->
          <div class="col-4">
            <div class="row">
              <button mat-stroked-button color="warm" disabled="true">
                Non-main market
              </button>
            </div>
            <div class="row">
              <mat-form-field>
                <input
                  type="text"
                  placeholder="Type to search symbol"
                  matInput
                  class="uppercase"
                  formControlName="nonMarket"
                  [matAutocomplete]="autoNonMarket"
                />
                <mat-autocomplete #autoNonMarket="matAutocomplete">
                  <mat-option
                    *ngFor="let option of nonMarketOption$ | async"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <!-- CURRENCY -->
          <div class="col-4">
            <div class="row">
              <button mat-flat-button color="primary" disabled="true">
                Currency
              </button>
            </div>
            <div class="row">
              <mat-form-field>
                <input
                  type="text"
                  placeholder="Type to search symbol"
                  matInput
                  formControlName="currency"
                  class="uppercase"
                  [matAutocomplete]="autoCurrency"
                />
                <mat-autocomplete #autoCurrency="matAutocomplete">
                  <mat-option
                    *ngFor="let option of currencyOption$ | async"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="col-4">
            <div class="row">
              <button mat-flat-button color="primary" disabled="true">
                Main market
              </button>
            </div>
            <div class="row">
              <mat-form-field>
                <input
                  type="text"
                  placeholder="Type to search symbol"
                  matInput
                  formControlName="mainMarket"
                  class="uppercase"
                  [matAutocomplete]="autoMainMarket"
                />
                <mat-autocomplete #autoMainMarket="matAutocomplete">
                  <mat-option
                    *ngFor="let option of mainMarketOption$ | async"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profit">
      <button mat-stroked-button>24h profit and loss</button>
      <span class="profit">{{ 0 | number : "1.1-10" }}</span>
    </div>
  </div>
  <div class="main">
    <div
      class="row"
      *ngFor="
        let item of mmArbitrageList;
        let index = index;
        trackBy: trackByArbitrage
      "
      (click)="onArbitrageClick(item)"
      [ngClass]="{ active: isActive(item) }"
    >
      <app-sub-market
        [subMarket]="item.subMarket"
        [isShowOrderVolume]="false"
      ></app-sub-market>
      <div #children class="child" (scroll)="onScrollEvent($event)">
        <app-testimonial-group [arbitrageItem]="item"></app-testimonial-group>
      </div>
    </div>
  </div>
</div>
<app-toaster-container></app-toaster-container>
