.container {
    .header-page {
        align-items: start;

        .header {
            align-items: start;

            .filter {
                align-items: start;

                .market-container {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    .col-4 button {
                        width: 100%;
                    }

                    mat-form-field {
                        width: 100%;

                        .uppercase {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    .main {
        $subMarket: 16.25rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .row {
            align-items: start;
            padding: 12px;
            border-radius: 8px
        }

        .row:hover {
            background-color: rgba(33, 40, 68);
            cursor: pointer;
        }

        .active {
            border: 1px solid white;
        }

        app-sub-market {
            min-width: $subMarket;
            max-width: $subMarket;
        }

        .child {
            overflow-x: auto;
            width: calc(100% - $subMarket);
            margin-left: 3rem;
        }
    }
}