/* You can add global styles to this file, and also import other style files */
@import "styles-variables.scss";
@import "scss/jpc.scss";
// @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "../assets/fonts/inter/inter.css";

/**
 Material Theming ref: https://medium.com/@bogac/customization-of-an-angular-material-2-theme-typography-components-3ca5584f36ca
*/
$general-typography: mat-typography-config($font-family: "Inter var");

@include mat-core($general-typography);

$tc3s-app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($tc3s-app-theme);

body {
  margin: 0;
  font-family: 'Inter var' !important;
  font-size: 14px;
  color: #fff;
  background-color: #0F172A;
}


main {
  z-index: 0 !important;
  padding-top: $mainToolbarHeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter var';
  font-weight: 600;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

/*---------------- GLOBAL SHARED CLASSES ----------------*/

::-webkit-scrollbar-track {
  background-color: #555555;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 4px;
  width: 1px;
  height: 6px;
}

.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: $color-primary !important;
  background-color: $color-background-hover;

  mat-icon {
    color: $color-primary !important;
  }
}

.overflow {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

textarea {
  resize: none;
}

.container {
  padding-top: 55px !important;

  .header-page {
    margin: 16px 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header {
      display: flex;
      flex-direction: row;
      gap: 22px;
      align-items: center;

      .title {
        font-size: 24px;
        font-weight: 700;
      }

      .filter {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
      }
    }

    .profit {
      display: flex;
      flex-direction: row;
      gap: 22px;
      align-items: center;
    }
  }
}


.lbl-input {
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
}

$width-col-4: calc(100% / 3);

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 100%;
    line-height: 1.5;
  }
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: $width-col-4;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: calc($width-col-4 * 2);
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.w-full {
  width: 100%;
}

.no-data {
  pointer-events: none;
  font-style: italic;
  font-weight: 500;
}

title {
  display: inline;
  font-size: 22px;
  font-weight: 700;
  line-height: 4rem;
}

.bid,
.ask,
.yellow {
  min-width: 50px;
  min-height: 40px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
}

.bid {
  background-color: $bid;
}

.ask {
  background-color: $ask;
}

.yellow {
  background-color: $non-market;
}


/*-----------------------------------------------------------------------------------*/

/*---------------- BUTTON MATERIAL CLASSES ----------------*/
.mat-stroked-button {
  color: $font-primary;
  height: 36px;
  line-height: 0 !important;

  mat-icon {
    width: 13px;
  }

  .mat-button-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}

.mat-raised-button {
  height: 30px;
  line-height: 0 !important;

  mat-icon {
    width: 13px;
  }

  .mat-button-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}

.mat-raised-button.mat-warn {
  background-color: $warn;
}


.mat-raised-button.btn-icon {
  width: 35px;
  min-width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-stroked-button.btn-icon-grid,
.mat-raised-button.btn-icon-grid {
  width: 24px;
  min-width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mat-stroked-button:not(.mat-button-disabled) {
  background-color: #fff;
}

.mat-stroked-button:not(.mat-button-disabled):hover {
  background-color: #bebebe;
}

// FOR STROKED
.mat-stroked-button.mat-primary:not(.mat-button-disabled) {
  background-color: $market;
}

.mat-stroked-button.mat-warm.mat-button-disabled,
.mat-stroked-button.mat-warm:not(.mat-button-disabled) {
  background-color: $non-market;
  color: #000;
}


.mat-stroked-button.mat-primary:not(.mat-button-disabled):hover {
  background-color: #21b06e;
}

.mat-stroked-button.mat-warm:not(.mat-button-disabled):hover {
  background-color: #ab8102;
}

.mat-stroked-button.mat-button-disabled:hover {
  background-color: $non-market;
}

.mat-stroked-button.mat-primary {
  color: #fff;
}

.mat-raised-button.mat-primary:not(.mat-button-disabled):hover {
  background-color: $color-background-hover;
}

// FOR FLAT
.mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-primary:not(.mat-button-disabled) {
  background-color: $market;
}

.mat-flat-button.mat-warm.mat-button-disabled,
.mat-flat-button.mat-warm {
  background-color: $non-market;
}

.mat-flat-button.mat-primary:not(.mat-button-disabled):hover {
  background-color: #21b06e;
}

.mat-flat-button.mat-warm:not(.mat-button-disabled):hover {
  background-color: #ab8102;
}

.mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-warm.mat-button-disabled {
  color: #FFF;
}

.mat-flat-button.mat-accent:not(.mat-button-disabled) {
  background-color: $market;
}

.mat-flat-button.mat-accent.mat-button-disabled {
  background-color: $black3s;
  color: #fff;
}

/*-----------------------------------------------------------------------------------*/


/*---------------- INPUT MATERIAL CLASSES ----------------*/
mat-form-field {
  width: 135px;
  line-height: 1.5;
}

.col-xs mat-form-field {
  width: 80px;
}

.col-sm mat-form-field {
  width: 106px;
}

.col-md mat-form-field {
  width: 224px;
  line-height: 1.5;
}

.col-large mat-form-field {
  width: 100%;
  line-height: 1.5;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 5px 0 !important;
  padding-bottom: 0px !important;
}

.mat-form-field-label-wrapper {
  padding-top: 0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $secondary;
}

.input-disabled.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  background: #f3f3f3 0% 0% no-repeat padding-box;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.4395em 0 0.4395em !important;
  font-size: 14px;
  border-top: 0.2em solid transparent;

  textarea {
    height: 64px !important;
  }
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  background-color: #c8c8c8;
  color: #000;
}

.mat-input-element,
.mat-input-element:disabled {
  color: #485764 !important;
  line-height: 1.5625em !important;
}

.mat-input-element.text-right {
  text-align: right;
}

.mat-form-field-infix+.mat-form-field-suffix {
  top: 0rem !important;
}

.mat-select {
  line-height: 1.5em;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0px !important;
}

.mat-form-field-invalid .mat-input-element {
  caret-color: #EB5757;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 18px !important;
}

mat-error {
  font-size: 12px;
  line-height: 14px;
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: -0.25em !important;
  color: #000;
}

/*-----------------------------------------------------------------------------------*/
/*---------------- SELECT MATERIAL CLASSES ----------------*/
.mat-select-arrow {
  color: $color-primary;
}

.mat-select-arrow-wrapper {
  align-items: flex-end !important;
  height: 11px !important;
}

/*-----------------------------------------------------------------------------------*/
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  color: $color-primary;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  height: 2em !important;
  justify-content: flex-end !important;
  top: 0.5rem !important;
}

.mat-datepicker-toggle {
  mat-icon {
    width: 11px;
    height: 18px;

    svg>path {
      fill: $color-primary;
    }
  }

  .mat-button-disabled {
    svg>path {
      fill: #9F9F9F;
    }
  }
}

:ng-deep .disable-ripple {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.mat-option-text {
  font-size: 12px;
}


/*---------------- DATA TABLE CLASSES ----------------*/
mat-checkbox.checkbox .mat-checkbox-frame {
  border-color: rgba(214, 214, 214, 1);
}

/*---------------------------------------------------------*/

/*---------------- Radio Group ----------------*/
mat-radio-group.radio-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/*---------------------------------------------------------*/

/*---------------- TAB CLASSES ----------------*/
mat-tab-header .mat-tab-label-container .mat-tab-label.mat-tab-label-active {
  color: $color-primary;
  opacity: 1 !important;
  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

mat-option.mat-option.mat-selected,
mat-option.mat-option.mat-active {
  background-color: #e4e4e4 !important;
  font-weight: 600;
}

.mat-tab-label-active {
  background-color: #e4e4e4 !important;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  color: #000 !important;
}

a:hover {
  color: #b4b2b2 !important;
}

/*---------------------------------------------------------*/

/*---------------- TAGS CLASSES ----------------*/
.ant-tag.status-info {
  margin: 5px 0 !important;
  line-height: 30px;
  line-height: 30px;
  padding: 0 1rem;
  font-weight: 600;
}

.ant-tag.status-info:hover {
  cursor: pointer;
}

mat-chip.mat-chip {
  color: #fff !important;
}

.mat-chip-remove {
  color: #fff !important;
}

/*---------------------------------------------------------*/

/*---------------------------------------------------------*/
.mat-snack-bar-container {
  background-color: #fff;
  color: #000;
}

.mat-checkbox-inner-container-no-side-margin {
  background-color: #fff;

}

.mat-checkbox-background,
.mat-checkbox-frame {
  border-radius: 0 !important;
}

.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
  background-color: #0d6efd;

}