<app-spinner [loading]="isLoading">
    <section class="suggested-container" [formGroup]="orderGroup">
      <div class="header">
        <span class="title">{{typeName}} Suggested Orders</span>
        <button
          mat-stroked-button
          class="limit-btn"
          [disabled]="isGoClicked"
          *ngIf="marketType == 'LIMIT'"
          (click)="onUpdateMarketType('STOP_LOSS')"
        >
          Limit
        </button>
        <div *ngIf="marketType == 'STOP_LOSS'" class="stop-loss-area">
          <button
            mat-stroked-button
            class="stop-loss-btn"
            [disabled]="isGoClicked"
            (click)="onUpdateMarketType('STOP_LOSS_ONLY')"
          >
            Stop Loss
          </button>
          <div class="stop-loss-input">
            <mat-form-field>
              <input
                matInput
                type="text"
                mask="separator.0"
                thousandSeparator=","
                placeholder="0"
                formControlName="stop_loss_tick_currency"
              />
            </mat-form-field>
            <mat-label>{{ currentMarket[1] }}</mat-label>
          </div>
          <div class="stop-loss-input">
            <mat-form-field>
              <input
                matInput
                type="text"
                mask="separator.0"
                thousandSeparator=","
                placeholder="0"
                formControlName="stop_loss_tick_main"
              />
            </mat-form-field>
            <mat-label>Moving Tick</mat-label>
            <!-- <mat-label>{{ currentMarket[0] }}</mat-label> -->
          </div>
          <button
            mat-stroked-button
            color="primary"
            class="update-tick-btn"
            [disabled]="isGoClicked"
            (click)="onUpdateTickClicked()"
          >
            Update tick
          </button>
        </div>
        <div *ngIf="marketType == 'STOP_LOSS_ONLY'" class="stop-loss-area">
          <button
            mat-stroked-button
            class="stop-loss-only-btn"
            [disabled]="isGoClicked"
            (click)="onUpdateMarketType('LIMIT')"
          >
            Stop Loss Only
          </button>
          <div class="stop-loss-input">
            <mat-form-field>
              <input
                matInput
                type="text"
                mask="separator.0"
                thousandSeparator=","
                placeholder="0"
                formControlName="stop_loss_tick_main"
              />
            </mat-form-field>
            <mat-label>{{ currentMarket[0] }}</mat-label>
          </div>
          <button
            mat-stroked-button
            color="primary"
            class="update-tick-btn"
            [disabled]="isGoClicked"
            (click)="onUpdateTickClicked()"
          >
            Update tick
          </button>
        </div>
      </div>
      <div class="bid-table">
        <div class="table">
          <app-datatable
            [tableConfig]="tableConfig"
            [dataSource]="dataSource"
            [fullHeight]="true"
          ></app-datatable>
          <div
            class="row running"
            [ngStyle]="{ display: !isGoClicked ? 'none' : '' }"
          >
            <span>
              Running. Expected profit:
              <b class="value positive">
                {{ orderGroup.get("expected_profit")?.value | number : "1.1-10" }}
              </b>
            </span>
            <div class="replace">
              Replace times:
              <div class="count-action">
                <button mat-button class="btn plus-btn" (click)="countTime(true)">
                  +
                </button>
                <span>{{ orderGroup.get("replace_times")?.value }}</span>
                <button
                  mat-button
                  class="btn minus-btn"
                  (click)="countTime(false)"
                >
                  -
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="action">
          <div class="row">
            <mat-form-field>
              <input
                matInput
                type="text"
                mask="separator.4"
                thousandSeparator=","
                placeholder="0"
                [allowNegativeNumbers]="true"
                formControlName="expected_profit"
              />
            </mat-form-field>
          </div>
          <button
            mat-flat-button
            color="accent"
            (click)="runningOrder(true)"
            [disabled]="isGoClicked"
          >
            Go
          </button>
          <button
            *ngIf="isGoClicked"
            mat-flat-button
            class="btn-cancel"
            (click)="runningOrder(false)"
          >
            Cancel
          </button>
        </div>
      </div>
    </section>
  </app-spinner>
