<app-spinner [loading]="isLoading">
  <section class="theoretical-container">
    <div class="row header">
      <button mat-flat-button color="primary" disabled="true">
        Theoretical bid - ask
      </button>
      <span>
        (in
        {{
          theoreticalBidAskData ? theoreticalBidAskData.main_market_asset : ""
        }})
      </span>
    </div>

    <div class="grid-theoretical">
      <div class="row align-center bid">Theoretical bid</div>
      <div class="align-left value">
        {{
          theoreticalBidAskData
            ? (theoreticalBidAskData.theorical_bid | number : "1.1-10")
            : 0.0
        }}
      </div>
      <mat-label class="profit-label align-center" mat-stroked-button>Profit</mat-label>
      <mat-label class="profit-label align-center" mat-stroked-button>Profit - Fee</mat-label>

      <div class="row align-center ask">Main market ask</div>
      <div class="align-left value">
        {{
          theoreticalBidAskData
            ? (theoreticalBidAskData.non_main_ask | number : "1.1-10")
            : 0.0
        }}
      </div>
      <div
        class="align-center value"
        [ngStyle]="{
          color:
            theoreticalBidAskData && theoreticalBidAskData.profit_on_bid > 0
              ? '#27AE60'
              : '#dc3545'
        }"
      >
        {{
          theoreticalBidAskData
            ? (theoreticalBidAskData.profit_on_bid | number : "1.1-10")
            : 0.0
        }}
      </div>
      <div
        class="align-center value"
        [ngStyle]="{
          color:
            theoreticalBidAskData &&
            theoreticalBidAskData.profit_with_fee_on_bid > 0
              ? '#27AE60'
              : '#dc3545'
        }"
      >
        {{
          theoreticalBidAskData
            ? (theoreticalBidAskData.profit_with_fee_on_bid | number : "1.1-10")
            : 0.0
        }}
      </div>

      <div class="row align-center ask">Theoretical ask</div>
      <div class="align-left value">
        {{
          theoreticalBidAskData
            ? (theoreticalBidAskData.theorical_ask | number : "1.1-10")
            : 0.0
        }}
      </div>
      <mat-label class="profit-label align-center" mat-stroked-button>Profit</mat-label>
      <mat-label class="profit-label align-center" mat-stroked-button>Profit - Fee</mat-label>

      <div class="row align-center bid">Main market bid</div>
      <div class="align-left value">
        {{
          theoreticalBidAskData
            ? (theoreticalBidAskData.non_main_bid | number : "1.1-10")
            : 0.0
        }}
      </div>
      <div
        class="align-center value"
        [ngStyle]="{
          color:
            theoreticalBidAskData && theoreticalBidAskData.profit_on_ask > 0
              ? '#27AE60'
              : '#dc3545'
        }"
      >
        {{
          theoreticalBidAskData
            ? (theoreticalBidAskData.profit_on_ask | number : "1.1-10")
            : 0.0
        }}
      </div>
      <div
        class="align-center value"
        [ngStyle]="{
          color:
            theoreticalBidAskData &&
            theoreticalBidAskData.profit_with_fee_on_ask > 0
              ? '#27AE60'
              : '#dc3545'
        }"
      >
        {{
          theoreticalBidAskData
            ? (theoreticalBidAskData.profit_with_fee_on_ask | number : "1.1-10")
            : 0.0
        }}
      </div>
    </div>
  </section>
</app-spinner>
