<div class="container">
    <div class="header-page">
      <div class="header">
        <span class="title">Trade Errors</span>
        <div class="filter">
          <mat-form-field>
            <mat-date-range-input
              [formGroup]="rangeForm"
              [rangePicker]="campaignOnePicker"
            >
              <input
                matStartDate
                placeholder="Start date"
                formControlName="start"
                [disabled]="true"
              />
              <input
                matEndDate
                placeholder="End date"
                formControlName="end"
                [disabled]="true"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="campaignOnePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker
              #campaignOnePicker
              [disabled]="false"
            ></mat-date-range-picker>
          </mat-form-field>
          <button mat-stroked-button (click)="onSearchClick()">Search</button>
        </div>
      </div>
      <div class="profit">
        <button mat-stroked-button>24h profit and loss</button>
        <span class="profit">{{ 0 | number : "1.1-10" }}</span>
      </div>
    </div>
    <app-datatable
      [tableConfig]="tableConfig"
      [dataSource]="dataSource"
      [isLoadingResults]="isLoading"
      [fullHeight]="true"
    ></app-datatable>
  </div>
  <app-toaster-container></app-toaster-container>
