@import "src/styles/scss/breakpoints.scss";

header {
  width: 100%;
  background-color: rgb(33, 37, 41);
  height: 55px;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem 0 1rem;
  position: fixed;
  z-index: 3;

  .logo-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }

  .logo-brand:hover {
    cursor: pointer;
  }

  .active {
    color: #87c2ff;
  }

  .menu-desktop {
    display: flex;
    flex-direction: row;

    @include max-desktop-down-1024() {
      display: none;
    }
  }

  .menu-mobile {
    display: none;

    @include max-desktop-down-1024() {
      display: inline;
    }
  }
}

::ng-deep.mat-menu-panel {
  background-color: rgb(30, 41, 59);
  box-shadow: 20px 17px 19px 9px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  button {
    color: #fff;
  }

  .user-label {
    color: #2196f3;
  }
}