<div class="forgot-pwd-mail-page">
  <div class="form-forgot-pwd">
    <form [formGroup]="forgotPasswordByEmailForm">
      <div class="image-forgot-pwd">
        <!-- <img src="/assets/images/logo_rayma_png.png" alt="RAYMA-LOGO"/> -->
      </div>
      <div class="title">
        <mat-icon
          class="icon-back"
          svgIcon="icon-back"
          routerLink="/auth/login"
        ></mat-icon>
        <span class="txt-forgot-pwd">{{ "screen.forgot-password.title" }}</span>
      </div>
      <div class="group-ip-password">
        <mat-form-field class="group-email">
          <mat-icon class="icon-email" svgIcon="icon-mail" matPrefix></mat-icon>
          <input
            matInput
            placeholder="{{ 'screen.forgot-password.placeholder-email' }}"
            class="ip-email"
            formControlName="email"
            autocomplete="new-password"
          />
          <mat-icon svgIcon="" matSuffix></mat-icon>
          <mat-error
            *ngIf="forgotPasswordByEmailForm.get('email')?.hasError('required')"
          >
            {{ "screen.forgot-password.email-required-msg" }}
          </mat-error>
          <mat-error
            *ngIf="forgotPasswordByEmailForm.get('email')?.hasError('email')"
          >
            {{ "screen.forgot-password.email-error-msg" }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="note">
        {{ "screen.forgot-password.text-note" }}
      </div>
      <button
        mat-raised-button
        color="primary"
        class="btn-forgot-pwd-mail"
        (click)="submitFormByEmail()"
      >
        {{ "screen.forgot-password.btn-change-password" }}
      </button>
    </form>
  </div>
</div>
