<div
  *ngIf="displayColumns.length > 0"
  class="table-detail-container"
>
  <table mat-table matSort #matTable [dataSource]="rowData">
    <ng-container
      *ngFor="let column of columnDefinition"
      [matColumnDef]="column.id"
    >
      <ng-container [ngSwitch]="column.type">
        <!-- ::::::::::::::::::::::::::::::::::INDEX:::::::::::::::::::::::::::::::::::::::: -->
        <div *ngSwitchCase="'index'">
          <th
            *matHeaderCellDef
            mat-header-cell
            [class.header-align-center]="column.alignCenter"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
          >
            <div class="cell-overflow table-header">
              {{ "label.common.no" }}
            </div>
          </th>
          <td
            *matCellDef="let row; let j = index"
            mat-cell
            [class.cell-align-center]="column.alignCenter"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
          >
            <div class="cell-overflow">
              {{ j + 1 }}
            </div>
          </td>
        </div>

        <!-- ::::::::::::::::::::::::::::::::::TEXT:::::::::::::::::::::::::::::::::::::::: -->
        <div *ngSwitchCase="'text'">
          <th
            *matHeaderCellDef
            mat-header-cell
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
          >
            {{ column.name }}
          </th>
          <td
            *matCellDef="let element"
            mat-cell
            class="overflow"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
            [class.cell-align-right]="column.alignRight"
            [class.cell-align-center]="column.alignCenter"
            [matTooltipDisabled]="!column.showTooltip"
            [matTooltipPosition]="column.tooltipAlign || 'above'"
            [matTooltip]="utils.getValueByKey(element, column.id)"
          >
            <!-- (click)="tableClick.emit({action: 'edit',  rowItem: element})"> -->
            <span *ngIf="!column.format">
              {{
                !utils.getValueByKey(element, column.id)
                  ? "-"
                  : utils.getValueByKey(element, column.id)
              }}
            </span>
            <span *ngIf="column && column.format && isDateTime(column.format)">
              {{
                utils.getValueByKey(element, column.id)
                  | datetimeformat2 : column.format.toString()
              }}
            </span>
          </td>
        </div>

        <!-- ::::::::::::::::::::::::::::::::::MONEY:::::::::::::::::::::::::::::::::::::::: -->
        <div *ngSwitchCase="'money'">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            disabled="{{ !column.orderable }}"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
          >
            {{ column.name }}
          </th>
          <td
            *matCellDef="let element"
            mat-cell
            class="overflow"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
            [class.cell-align-right]="column.alignRight"
            [class.cell-align-center]="column.alignCenter"
          >
            <span *ngIf="column && !column.format">
              {{
                !utils.getValueByKey(element, column.id)
                  ? "0"
                  : utils.getValueByKey(element, column.id)
              }}
              đ
            </span>
            <span *ngIf="column && column.format && isNumber(column.format)">
              {{
                !utils.getValueByKey(element, column.id)
                  ? "0"
                  : (utils.getValueByKey(element, column.id)
                    | currencyFormatPipe : pipeNumber(column.format))
              }}
              đ
            </span>
          </td>
        </div>

        <!-- ::::::::::::::::::::::::::::::::::NUMBER:::::::::::::::::::::::::::::::::::::::: -->
        <div *ngSwitchCase="'number'">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            disabled="{{ !column.orderable }}"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
          >
            {{ column.name }}
          </th>
          <td
            *matCellDef="let element"
            mat-cell
            class="overflow"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
            [class.cell-align-right]="column.alignRight"
            [class.cell-align-center]="column.alignCenter"
          >
            <span *ngIf="!column.format">
              {{
                !utils.getValueByKey(element, column.id)
                  ? "0"
                  : utils.getValueByKey(element, column.id)
              }}
            </span>
            <span *ngIf="column && column.format && isNumber(column.format)">
              {{
                utils.getValueByKey(element, column.id)
                  | currencyFormatPipe : pipeNumber(column.format)
              }}
            </span>
          </td>
        </div>

        <!-- ::::::::::::::::::::::::::::::::::STATUS:::::::::::::::::::::::::::::::::::::::: -->
        <div *ngSwitchCase="'status'">
          <th
            *matHeaderCellDef
            mat-header-cell
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
          >
            {{ column.name }}
          </th>
          <td
            *matCellDef="let element"
            mat-cell
            class="overflow"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
            [class.cell-align-right]="column.alignRight"
            [class.cell-align-center]="column.alignCenter"
          >
            <nz-tag [nzColor]="column.colorObject[element[column.id]]">
              {{ column.statusObject[element[column.id]] }}
            </nz-tag>
          </td>
        </div>

        <!-- ::::::::::::::::::::::::::::::::::CUSTOM_CHIP:::::::::::::::::::::::::::::::::::::::: -->
        <div *ngSwitchCase="'chip'">
          <th
            *matHeaderCellDef
            mat-header-cell
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
          >
            {{ column.name }}
          </th>
          <td
            *matCellDef="let element"
            mat-cell
            class="overflow"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
            [class.cell-align-right]="column.alignRight"
            [class.cell-align-center]="column.alignCenter"
          >
            <ng-container
              *ngFor="let item of utils.getValueByKey(element, column.id)"
            >
              <nz-tag [nzColor]="item.colorCode">
                {{ item.value }}
              </nz-tag>
            </ng-container>
          </td>
        </div>

        <!-- ::::::::::::::::::::::::::::::::::TYPE:::::::::::::::::::::::::::::::::::::::: -->
        <div *ngSwitchCase="'type'">
          <th
            *matHeaderCellDef
            mat-header-cell
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
          >
            {{ column.name }}
          </th>
          <td
            *matCellDef="let element"
            mat-cell
            class="overflow"
            [ngStyle]="{
              width: (column.weight || 0) * 10 + 'px',
              'min-width': (column.weight || 0) * 10 + 'px',
              'max-width': (column.weight || 0) * 10 + 'px'
            }"
            [class.cell-align-right]="column.alignRight"
            [class.cell-align-center]="column.alignCenter"
          >
            <span>
              {{ column.statusObject[element[column.id]] }}
            </span>
          </td>
        </div>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: false"></tr>
    <tr
      mat-row
      class="element-row"
      *matRowDef="let row; columns: displayColumns; let idx = index"
    ></tr>
  </table>
</div>
