.table-detail-container {
    width: 100%;
    padding: 16px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;

    table {
        padding: 0 20px;

    }

    .mat-cell {
        color: #000;
        font-size: 13px;
        font-weight: 400;
    }
}