<section class="container scanning-market-section">
  <div class="section-header">
    <span class="title">Scanning Market</span>
    <div class="header-action">
      <button mat-stroked-button color="warm" (click)="onScanMarket(true)">
        Scan
      </button>
      <button mat-stroked-button color="warm" (click)="onScanMarket(false)">
        Stop
      </button>
      <mat-form-field>
        <span matPrefix>$&nbsp;</span>
        <input
          matInput
          type="text"
          mask="separator.0"
          thousandSeparator=","
          placeholder="0"
          [(ngModel)]="orderVolumeInput"
        />
      </mat-form-field>
      <button mat-stroked-button color="warm" (click)="onUpdateOrderVolume()">
        Update order volume
      </button>
      <button mat-stroked-button>24h profit and loss</button>
      <span class="profit">{{ 0 | number : "1.1-10" }}</span>
    </div>
  </div>

  <div class="main-header">
    <div class="list-sub-market">
      <ng-container
        *ngFor="let sub of dataAutoTrading | async; trackBy: trackFnBySub"
      >
        <app-sub-market
          [subMarket]="sub"
          [ngClass]="{ active: sub[0] === currentSub }"
          (click)="onSubMarketClick(sub)"
          [orderVolume]="sub[2].orderVolume"
        ></app-sub-market>
      </ng-container>
    </div>
    <div class="main-detail">
      <app-spinner [loading]="isLoading">
        <app-price-market #priceMarket></app-price-market>
      </app-spinner>
      <app-theoretical-part></app-theoretical-part>
      <app-suggested-order [type]="'bid'"></app-suggested-order>
      <app-suggested-order [type]="'ask'"></app-suggested-order>
    </div>
  </div>
</section>
<app-toaster-container></app-toaster-container>
