@import "src/styles/scss/breakpoints.scss";

.scanning-market-section {
    display: flex;
    flex-direction: column;

    .section-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        padding-bottom: 2rem;

        .title {
            font-size: 28px;
            font-weight: 700;
        }

        .header-action {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            padding-right: 2rem;

            button {
                font-size: 18px;
            }

            .profit {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .main-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        $width-sub-market: 220px;

        gap: 1rem;

        .list-sub-market {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            overflow-y: auto;
            height: 620px;
            width: $width-sub-market;
            padding-right: 12px;

            app-sub-market.active,
            app-sub-market:hover {
                background-color: rgba(33, 40, 55);
                border: 1px solid #0d6efd;
                border-radius: 4px;
                cursor: pointer;
            }
        }

        .list-sub-market::-webkit-scrollbar {
            height: 6px;
        }

        .list-sub-market::-webkit-scrollbar-thumb {
            border-radius: 5px;
        }

        .list-sub-market::-webkit-scrollbar-track-piece {
            max-width: 180px;
            background-color: #989898;
            height: 200px;
            border-radius: 5px;
        }

        .main-detail {
            width: calc(100% - $width-sub-market);
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 50%));
            row-gap: 54px;
            column-gap: 24px;
        }

    }
}