<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>WebSocket Test</title>
</head>
<body>
    <p id="content"></p>

    <script>
    var ws;
    window.onload=function(){
    ws=new WebSocket("wss://" + window.location.hostname + ":8081");
    ws.onmessage=function(evt){
        console.log(evt.data);
        const node = document.createElement("li");
        const textnode = document.createTextNode(evt.data);
        node.appendChild(textnode);
        document.getElementById("content").appendChild(node);
    };
    ws.onopen=function(evt){
        let sub1 = {
            method: "subscribe",
            channel: "profit"
        }
        let sub2 = {
            method: "subscribe",
            channel: "order_status"
        }
        ws.send(JSON.stringify(sub1));
        ws.send(JSON.stringify(sub2));
    }
    }
    window.onclose=function(){
    ws.close();
    }
    </script>
</body>
</html>