<div class="sub-market">
  <div class="align-center col-span-3 non-market">{{ nonMarket }}</div>
  <div class="align-center bid-sub">
    {{
      model && model.bid && model.bid.replace_times && model.bid.is_running
        ? model.bid.replace_times
        : "B"
    }}
  </div>
  <div class="align-left">
    {{ model && model.bid.is_running ? model.bid.expected_profit || 0 : 0 }}
  </div>

  <div class="align-center col-span-3 market">{{ currency }}</div>
  <div class="align-center ask-sub">
    {{
      model && model.bid && model.ask.replace_times && model.ask.is_running
        ? model.ask.replace_times
        : "A"
    }}
  </div>
  <div class="align-left">
    {{
      isShowOrderVolume && model && model.ask.is_running
        ? model.ask.expected_profit
        : 0
    }}
  </div>

  <div class="align-center col-span-3 market">{{ mainMarket }}</div>
  <div class="align-center" *ngIf="isShowOrderVolume">
    {{ orderVolume }}
  </div>
</div>
