.sidenav-content {
    display: flex;
    // height: 100vh;

    app-header {
        margin-bottom: 55px;
    }

    .child {
        width: 100%;
        padding: 0 1rem;
        background-color: #0F172A;
        color: #fff;
    }
}

.sidenav {
    padding: 12px;
    background-color: #212d4c;
    color: #fff;
}

.sidenav:hover {
    cursor: pointer;
}