<div class="dark">
  <mat-drawer-container autosize>
    <mat-drawer
      #drawer
      class="sidenav"
      mode="side"
      opened="true"
      *ngIf="sidenavService.showSidenav"
      (dblclick)="onShowSidenav()"
    >
      <app-sidenav></app-sidenav>
    </mat-drawer>

    <div class="sidenav-content">
      <app-header *ngIf="authService.isLoginAsync$ | async"></app-header>
      <div class="child">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
</div>
