@keyframes spinner-spinner-rotate {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}

@keyframes spinner-text-opacity {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:host {
  $circle-width: 75px;
  $circle-height: 75px;
  $min-height: 100px;
  $text-color: #fff;
  $border-color-active: #666666;
  $border-color-dimmed: #DDDDDD;
  $zindex-host: 1;
  $zindex-wrapper: $zindex-host + 1;
  $zindex-content: $zindex-wrapper + 1;
  $zindex-overlay: $zindex-content + 1;
  $zindex-spinner: $zindex-overlay + 1;
  $border-radius: 8px;

  .spinner-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: $zindex-wrapper;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    position: relative;

    &.full-height {
      height: 100%;

      .content {
        height: 100%;

      }
    }

    &.loading {
      min-height: $min-height;
      cursor: wait;

      .spinner,
      .overlay {
        display: flex;
      }
    }

    &.rounded {
      .overlay {
        border-radius: $border-radius;
      }
    }
  }

  .overlay,
  .spinner {
    position: absolute;
    display: none;
  }

  .overlay {
    background-color: transparent;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: $zindex-overlay;
  }

  .spinner {
    height: $circle-height;
    width: $circle-width;
    position: absolute;
    z-index: $zindex-spinner;
    justify-content: center;
    align-items: center;

    &:after,
    &:before {
      position: absolute;
    }

    &:before {
      content: "";
      animation: spinner-spinner-rotate 1s linear 0s infinite normal;
      border: 2px solid transparent;
      border-color: $border-color-dimmed;
      border-top-color: $border-color-active;
      border-radius: 100%;
      transform-origin: 50% 50%;
      height: $circle-height;
      width: $circle-width;
    }

    &:after {
      content: "Loading";
      animation: spinner-text-opacity 2s linear 0s infinite normal;
      color: $text-color;
      font-size: 12px;
      opacity: 0;
    }
  }

  .content {
    width: 100%;
    z-index: $zindex-content;
  }
}
