.toast {
    position: fixed;
    right: 36px;
    width: 300px;
    min-height: 80px;
    padding: .75rem 1.25rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    animation: fadeIn 0.3s both;
    z-index: 10;
}


.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.toast-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.toast-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.toast-info {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}


.close {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.toast-heading {
    margin-top: 10px;
}

.toast-body {
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::ng-deep.blue-color {
    color: #0d6efd;
}

::ng-deep.red-color {
    color: #ffc107;
}

::ng-deep.sell-color {
    color: #ef4444;
}

::ng-deep.buy-color {
    color: #22c55e;
}


::ng-deep.filled-color {
    color: #198754;
}

::ng-deep.new-color {
    color: #6c757d;
}

::ng-deep.canceled-color {
    color: #ef4444;
}

::ng-deep.partially-filled-color {
    color: #ffc107;
}

::ng-deep.uppercase{
    text-transform:uppercase
}